
name: "build and test"
on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [ "ci", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        system: [ x86_64-linux, aarch64-linux ]

    steps:

    - uses: actions/checkout@v4
      with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0

    - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15  # v31.9.0
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
          extra-platforms = ${{ matrix.system }}

    - uses: cachix/cachix-action@v14
      with:
        name: nix-portable
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        image: tonistiigi/binfmt@sha256:8de6f2decb92e9001d094534bf8a92880c175bd5dfb4a9d8579f26f09821cfa2
        platforms: all

    - run: 'nix build -L .#packages.${{ matrix.system }}.nix-portable'

    - name: Archive result
      uses: actions/upload-artifact@v4
      with:
        name: nix-portable-${{ matrix.system }}
        path: result/bin/nix-portable

  nix-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15  # v31.9.0
      - id: set-matrix
        name: Generate Nix Matrix
        run: |
          set -Eeu
          matrix="$(nix eval --json '.#githubActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"

  nix-build:
    name: ${{ matrix.name }} (${{ matrix.system }})
    needs:
      - nix-matrix
      - build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{fromJSON(needs.nix-matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15  # v31.9.0
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes impure-derivations ca-derivations
            extra-platforms = aarch64-linux
      - uses: cachix/cachix-action@v14
        with:
          name: nix-portable
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          image: tonistiigi/binfmt@sha256:8de6f2decb92e9001d094534bf8a92880c175bd5dfb4a9d8579f26f09821cfa2
          platforms: all
      - run: nix build -L '.#${{ matrix.attr }}'


  test_github:
    name: Test inside github action
    needs: build
    if: true
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
      with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0

    - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15  # v31.9.0
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes

    - run: nix run -L .#test-local
